doctype html
html
    head
        title Chat
        link(rel='stylesheet', href='/css/style.css')
    body
        div.container
            header
                h1 A Chat application with Node.js and Socket.io
            div#login
                input(type='text')#usernameInput
                button#setUsername Set Username
            div#numConnected
            div#usersConnected Users Online
            div#chatEntries
            div#chatControls
                input(type='text')#messageInput
                button#submit Send
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="script.js")