extends base

block content
	div.jumbotron
		h1 Welcome to UW Chatrooms
		h3 An impromptu chat room with the people around you, with no signups!

		form#login-form(method="POST", action="/main")
			div.input-group
				input#username-input.form-control(type="text", name="username", placeholder="Enter a name and start chatting!")
				span.input-group-btn
					button#set-username.btn.btn-info(type="submit button") Go!

		if (usernameInvalid) 
			div.label.label-danger Usernames can only contain alphanumeric characters, hyphens, underscores, and be unique!
		if (serverRestart)
			div.label.label-danger Uh-oh! The server has been restarted, please login again!
