extends base

block head

block content
	div#tab-container.col-xs-9
		ul#tab.nav.nav-pills
			li.span
				a#add-room(href="#")
					span.glyphicon.glyphicon-plus
			li.span
				a(href="#room-Lobby", data-toggle="tab")
					span#Lobby-badge.badge.badge-user
					| Lobby

	div#chat-panel.col-xs-9.well.tab-content
		div#more-msgs There are more messages!
		div#room-Lobby.tab-pane
			div.chat-entries
		div#chat-controls.input-group
			input#message-input.form-control(type="text")
			span.input-group-btn
				button#submit.btn.btn-info(type="button submit") Send!
	div#side-panel.col-xs-2.well
		div#num-connected
		div#usersList-Lobby.usersList

	div#create-room-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true" aria-labelledby="create-room-modal-label")
		div.modal-dialog.modal-sm
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
					h4#create-room-modal-label.modal-title Create a room!
				div.modal-body
					input#create-room-modal-input(type="text" placeholder="Enter the room name here")
				div.modal-footer
					button#room-modal-close-button.btn.btn-default(type="button" data-dismiss="modal") Close
					button#create-room-buttom.btn.btn-primary Create room!

block bottom
	script(src="/socket.io/socket.io.js")
	script(src="/js/script.js")
