extends base

block content
	div#chatContainer.col-xs-9.well
		div#chatEntries
		div#chatControls.input-group
			input#messageInput.form-control(type="text")
			span.input-group-btn
				button#submit.btn.btn-default(type="button submit") Send!
	div#usersConnected.col-xs-2.well
		div#numConnected
		div#usersList