* {
	/*overflow: visible;*/
}

#container {
	/*margin: 20px;*/
}

#numConnected {
	font-weight: bold;
}
/*
div.panel {
	float: left;

}*/

#chatContainer {
	/*width: 70%;*/
	/*height: 500px;*/
	/*word-wrap: break-word;*/
	/*overflow: scroll;*/
}

#sidebar {
	/*width: 30%;*/
	/*height: 100%;*/
}

#chatControls {
	position: fixed;
	bottom: 0px;
	padding-bottom: 20px;
}