html, body.noscroll {
  overflow:hidden;
  height: 100%;
  width: 100%;
  font-family: "Kreon", "Helvetica", serif;
  font-weight: 300;
  font-size: 18px;
}

div.container {
  height: inherit;
}

div.message {
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

span.msg-user {
  font-weight: bold;
}

span.msg-content {
  white-space: pre-wrap;
}

.emoji {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
}

span.message-timestamp{
  font-size: small;
  position: absolute;
  bottom: 2px;
  right: 10px;
}

div.chat-container {
  /* The margin-top pushes the chat panel below the navbar */
  margin-top: 71px;
  height: 90%;
}

div#chat-panel {
  height: 90%;
}

div.chat-entries {
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
}

div#side-panel {
  height: inherit;
}

div.num-connected, div#public-rooms-title, div#all-users-list-title {
  font-weight: bold;
}

div#chat-controls {
  margin-top: 10px;
  margin-bottom: 10px;
  /* position: absolute; This pushes the controls out of the container, apparently */
  bottom: 10px;
}

span.glyphicon-user, span.public-room-icon {
  margin-right: 5px;
}

div.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
}

div.create-room-modal-username {
  color: #777;
  margin-bottom: 0px;
  cursor: pointer;
}

div.create-room-modal-username-selected {
  color: #428bca;
}

div#all-users-list-container {
  display: none; /* Hide this element initially */
}

div#all-users-list div.username:hover {
  color: #000;
  cursor: pointer;
}

div.public-room-entry {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
}

div.public-room-entry:hover {
  color: #000;
  cursor: pointer;
}

div.well {
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border: 3px #e3e3e3;
}

nav.navbar {
  text-align: center;
}

a.navbar-brand {
  font-weight: 400;
  font-size: 22px;
}

div#more-msgs {
  position: absolute;
  background-color: #ddd;
  left: 40%;
  right: 40%;
  bottom: 60px;
  border-radius: 20px;
  text-align: center;
  border: #eee dotted 3px;
  display: none;
  z-index: 5;
}

div.my-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #428bca;
}

div.bot-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5cb85c;
}

/*
side-panel contains 3 containers, num-connected-container
username-container, and public-rooms-container, there is an
implicit max-height of 10% for num-connected-container since
the other two containers use 90%
*/

div#username-container {
  margin-bottom: 10px;
  max-height: 45%;
  overflow-y: auto;
}

div#public-rooms-container, div#all-users-list-container {
  height: 40%;
}

div#public-rooms-list, div#all-users-list {
  margin-bottom: 10px;
  max-height: 95%;
  overflow-y: auto;
}

/* Create Room Modal related css */

#create-room-modal input#create-room-modal-input {
  width: 80%;
  margin-bottom: 10px;
}

.modal-body>label {
  font-weight: normal;
}

.modal-body>label>input {
  margin-right: 3px;
}

div#create-room-modal-invite-user-title {
  font-weight: normal;
}

div#create-room-modal-invite-user-container {
  overflow-y: auto;
  max-height: 150px;
}

/*Tab related css */

.nav-pills {
  margin-bottom: 3px;
}

.nav-pills>li>a {
  color: #5bc0de;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #428bca;
  background-color: #e3e3e3;
  display: inline-block;
}

div#tab-container {
  margin-left: 10px;
  margin-right: 10px;
}

ul#tab {
  border-bottom: 0;
  overflow-y: hidden;
  white-space:nowrap;
}

ul#tab li[class*="span"] {
  display: inline-block;
  float: none;
}

.over {
  background-color: #eee;
}

span.glyphicon-remove {
  top: 3px;
  left: 3px;
  color: #bbb;
}

span.glyphicon-remove:hover {
  color: #555;
}

span.tab-badge{
  margin-right: 3px;
}

a.tab-badge-notification-bg{
  background-color: #f5f5f5;
}

/* Room related CSS */

div#chat-panel div.tab-pane {
  width: 100%;
  height: 95%;
}
