html, body.noscroll {
  overflow:hidden;
  height: 100%;
  width: 100%;
  font-family: "Kreon", "Helvetica", serif;
  font-weight: 300;
  font-size: 18px;
}

div.container {
  height: inherit;
}

div.message {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.chat-container {
  /* The margin-top pushes the chat panel below the navbar */
  margin-top: 71px;
  height: 90%;
}

div#chat-panel {
  height: 90%;
}

div.chat-entries {
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
}

div#side-panel {
  height: inherit;
}

div#num-connected {
  font-weight: bold;
}

div#chat-controls {
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
}

span.glyphicon-user {
  margin-right: 5px;
}

div.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
}

div.username:hover {
  color: #000;
}

div.well {
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border: 3px #e3e3e3;
}

nav.navbar {
  text-align: center;
}

a.navbar-brand {
  font-weight: 400;
  font-size: 22px;
}

div#more-msgs {
  position: absolute;
  background-color: #ddd;
  left: 40%;
  right: 40%;
  bottom: 60px;
  border-radius: 20px;
  text-align: center;
  border: #eee dotted 3px;
  display: none;
  z-index: 5;
}

div.my-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #428bca;
}

/* Create Room Modal related css */

#create-room-modal input#create-room-modal-input {
  width: 80%;
}

/*Tab related css */

.nav-pills {
  margin-bottom: 3px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #428bca;
  background-color: #e3e3e3;
  display: inline-block;
}

div#tab-container {
  margin-left: 10px;
  margin-right: 10px;
}

ul#tab {
  border-bottom: 0;
  overflow-y: hidden;
  white-space:nowrap;
}

ul#tab li[class*="span"] {
  display: inline-block;
  float: none;
}

.over {
  background-color: #eee;
}

span.glyphicon-remove {
  top: 3px;
  left: 3px;
  color: #bbb;
}

span.glyphicon-remove:hover {
  color: #555;
}

span.badge-tab{
  margin-right: 3px;
}

a.badge-notification-bg{
  background-color: #f5f5f5;
}

/* Room related CSS */

div#chat-panel div.tab-pane {
  width: 100%;
  height: 95%;
}
