	html, body.noscroll {
    	overflow:hidden;
    	height: 100%;
    	width: 100%;
    	font-family: "Kreon", "Helvetica", serif;
    	font-weight: 300;
    	font-size: 16px;
	}

	div.container {
		height: inherit;
	}

	div.message {
		border-radius: 15px;
		padding: 10px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	div#chatControls {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	div.chatPanel {
		margin-top: 71px;
		height: 90%;
	}

		div#chatContainer {
		height: 90%;
	}

	div#chatEntries {
		height: 90%;
		overflow: auto;
		overflow-x: hidden;
	}

	div#usersConnected {
		min-height: 75%;
		overflow: auto;
	}

	div#chatControls {
		position: absolute;
		bottom: 20px;
	}

	div.well {
		border-radius: 15px;
		margin-right: 10px;
		margin-left: 10px;
		border: 3px dashed #e3e3e3;
	}

	nav.navbar {
		font-size: 22px;
	}

	a.navbar-brand {
		font-weight: 400;
	}
