@import 'mixins';

#main-background {
  background: url('/img/design/stardust.png');
  height: 100%;
}

nav {
  @include box-shadow(0px 0px 10px 10px)
}

.jumbotron {
  background-color: $main-yellow;
  border-bottom: 5px solid $main-yellow-shadow;
  margin-top: 100px;
  text-align: center;

  h1 {
    text-shadow: 4px 4px 0 rgba(0,0,0,.1);
  }

  #login-form {
    input#username-input {
      border-radius: 10px;
      font-size: 20px;
      height: 40px;
      width: 40%;
      margin: 20px auto;
      text-align: center;
    }
    button#set-username {
      border: none;
      background-color: $main-dark-gray;
      border-bottom: 5px solid $main-dark-gray-shadow;
      border-radius: 10px;
      color: white;
      padding: 5px 10px;
      width: 100px;
      margin-bottom: 20px;

      &:hover {
        background-color: gray;
      }

      &:active {
        border-bottom: none;
        padding-top: 8px;
      }

    }

  }
}
